.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
}

button {
    background-color: rgb(255, 252, 252);
    width: 25px;
    height: 25px;
    margin-left: 5px;  
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: black;
    padding: 0px;
}

#check-button{
    background: none;
    color: white;
}


button svg {
    width: 15px;  /* Ajusta el tamaño según lo necesites */
    height: 15px;  /* Ajusta el tamaño según lo necesites */
    transition: fill 0.3s ease;
}

button:hover svg {
    color: rgb(141, 140, 140);
}