.task-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}

.task {
    width: 90%;
    height: 30px;  
    color: white;
    background-color: rgb(62, 56, 56);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    flex-direction: row;
    overflow: hidden;
    padding: 10px;  
    cursor:pointer;
    font-size: 15px;
    margin: 10px;
}

.task:hover{
    height: 33px;
    font-size: 16px;
    color: rgb(141, 140, 140);
     
}

.task p {
    margin: 0;  
    padding: 0; 
}
